<div class="row justify-content-md-center info">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h1 class="titre">INSERT SERVICE</h1>

                <form>
                    <div class="form-row">
                        <!-- Input for Service Label -->
                        <div class="col-md-4 mb-3">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>Service Label</mat-label>
                                <input matInput type="text" [(ngModel)]="formulaire.label" name="label">
                            </mat-form-field>
                        </div>
                        <!-- Input for Icon -->
                        <div class="col-md-4 mb-3">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>Icon</mat-label>
                                <input matInput type="text" [(ngModel)]="formulaire.icon" name="icon">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 mb-3">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>Color</mat-label>
                                <input matInput type="color" [(ngModel)]="formulaire.color" name="icon">
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Table for Number of People and Price -->
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Number of People</th>
                                    <th>Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let value of valueRange">
                                    <td>{{ value.range_label }}</td>
                                    <td>
                                        <input type="number" class="form-control" [(ngModel)]="value.price" name="price{{value.range_label}}" min="0" step="0.01">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="form-row">
                        <div class="col-md-12">
                            <button class="btn btn-light submit-button" (click)="submitForm()">Validate</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
