<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <h2>Most Used materiel</h2>
          <canvas id="piechart"></canvas>
      </div>
    </div>

  </div>
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div class="d-flex align-items-center align-self-start">
              <h2 class="mb-0">{{chiffre}} AR</h2>
              <p class="text-success ml-2 mb-0 font-weight-medium"></p>
            </div>
          </div>
          <div class="col-3">
            <div class="icon icon-box-secondary">
              <span class="mdi mdi-arrow-right icon-item"></span>
            </div>
          </div>
        </div>
        <h6 class="text-muted font-weight-normal">Total expense</h6>
      </div>
    </div>
  </div>
</div><br>
<div class="col-md-12 card footer">
  PhotoBooth
</div>
