<h1 class="animate__animated animate__zoomIn">500 Internal Server Error</h1>
<p class="zoom-area animate__animated animate__zoomIn"><b>SORRY!</b> the server is not listening</p>
<section class="error-container">
  <span class="four animate__animated animate__bounceInLeft"><span class="screen-reader-text"></span></span>
  <span class="zero animate__animated animate__bounceInUp"><span class="screen-reader-text"></span></span>
  <span class="four animate__animated animate__bounceInRight"><span class="screen-reader-text"></span></span>
</section>
<div class="link-container animate__animated animate__fadeInUp">
  <a target="_blank" (click)="reload()"  class="more-link">Reload</a>
</div>
