<script src="../../reservation/insert-reservation/insert-reservation.component.ts"></script>
<div class="row">
  <form action="" method="" class="row g-1">
    <div class="col-1">
        <input name="intitule" [(ngModel)]="filter.intitule" type="text" class="form-control" placeholder="label">
    </div>
    <div class="col-auto">
      <button class="btn dark submit-button" (click)="filterFunc()" type="submit">Filter</button>
    </div>
    <div class="col-auto">
      <button class="btn dark submit-button" (click)="initial()" type="submit">Initial</button>
    </div>
  </form>
</div><br>

<div class="row info table-responsive nicescroll">
  <h1 class="titre">THEME CATEGORY LIST</h1>

  <table class="table table">
    <thead class="header">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Intitule</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let categorie of categories">
      <td>{{categorie.id_categorie_theme}}</td>
      <td>{{categorie.intitule}}</td>
      <td>
        <button class="icon-btn ripple" (click)="popUp(categorie)">
          <i class="mdi mdi-table-edit icon-edit"></i>
        </button>
      </td>
      <td>
        <button class="icon-btn ripple" (click)="delete(categorie)">
          <i class="mdi mdi-delete icon-delete"></i>
        </button>
      </td>
    </tr>
    <!-- Other table rows -->
    </tbody>
  </table>
  <div class="col-md-12 box-light">
    <div class="form-inline">
        <button class="btn dark" [disabled]="page == 1" (click)="previous()">previous</button>
        <button class="btn dark left" [disabled]="page == maxPage" (click)="next()">next</button>
    </div>
  </div>
</div>
