<div class="row">
  <form action="" method="" class="row g-1">
    <div class="col">
        <input name="intitule" type="text" class="form-control" placeholder="label">
      </div>
    <button class="btn btn-light submit-button" type="submit">Filter</button>
  </form>
</div><br>

<div class="row info">
  <h1 class="titre">THEME CATEGORY LIST</h1>

  <table class="table table-hover">
    <thead class="header">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Room number</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let categorie of categories">
      <th scope="row">{{categorie.id_categorie_theme}}</th>
      <td>{{categorie.intitule}}</td>
      <td>
        <button class="icon-btn ripple" id="">
          <i class="mdi mdi-table-edit icon-edit"></i>
        </button>
      </td>
      <td>
        <button class="icon-btn ripple" id="" (click)="delete(categorie)">
          <i class="mdi mdi-delete icon-delete"></i>
        </button>
      </td>
    </tr>
    <!-- Other table rows -->
    </tbody>
  </table>
</div>
