<div class="row justify-content-md-center info">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h1 class="titre">INSERT MATERIAL</h1>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="intitule">Intitule</label>
              <input id="intitule" formControlName="intitule" type="text" class="form-control" placeholder="Intitule" required>
              <div *ngIf="form.get('intitule')?.invalid && (form.get('intitule')?.dirty || form.get('intitule')?.touched)" class="alert alert-danger">
                <div *ngIf="form.get('intitule')?.errors?.['required']">Intitule is required.</div>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="quantite">Quantity</label>
              <input id="quantite" formControlName="quantite" type="number" class="form-control" placeholder="Quantity" required>
              <div *ngIf="form.get('quantite')?.invalid && (form.get('quantite')?.dirty || form.get('quantite')?.touched)" class="text-danger">
                <div *ngIf="form.get('quantite')?.errors?.['required']" class="alert alert-danger">Quantity is required.</div>
                <div *ngIf="form.get('quantite')?.errors?.['min']" class="alert alert-danger">Quantity cannot be less than 0.</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-6">
              <label for="prix">Price (one item)</label>
              <input id="prix" formControlName="prix" type="number" class="form-control" required>
              <div *ngIf="form.get('prix')?.invalid && (form.get('prix')?.dirty || form.get('prix')?.touched)" class="text-danger">
                <div *ngIf="form.get('prix')?.errors?.['required']" class="alert alert-danger">Price is required.</div>
                <div *ngIf="form.get('prix')?.errors?.['min']" class="alert alert-danger">Price cannot be less than 0.</div>
              </div>
            </div>
            <div class="col-md-6 mb-6">
              <label for="prix_achat">Prix d'achat (one item)</label>
              <input id="prix_achat" formControlName="prix_achat" type="number" class="form-control" required>
              <div *ngIf="form.get('prix_achat')?.invalid && (form.get('prix_achat')?.dirty || form.get('prix_achat')?.touched)" class="text-danger">
                <div *ngIf="form.get('prix_achat')?.errors?.['required']" class="alert alert-danger">Prix d'achat is required.</div>
                <div *ngIf="form.get('prix_achat')?.errors?.['min']" class="alert alert-danger">Prix d'achat cannot be less than 0.</div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-light submit-button" [disabled]="!form.valid">Submit form</button>
        </form>
      </div>
    </div>
  </div>
</div>
