<div class="row justify-content-md-center info">
  <div class="col-lg-3">
    <h3>Instruction</h3>
    <p>| les champs obligatoire:</p>
    <p>- First name <br>- Last name <br>- Date of birth</p>


  </div>
  <div class="col-lg-7">
      <h1 class="titre">INSERT MATERIAL</h1>

      <form>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="">Intitule</label>
            <input name="intitule" type="text" [(ngModel)]="form.intitule" class="form-control" placeholder="Intitule"  required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="">Quantity</label>
            <input name="quantite" [(ngModel)]="form.quantite" type="number" class="form-control" placeholder="Quantity"
                   value="" required>
          </div>

        </div>
        <div class="form-row">

          <div class="col-md-6 mb-6">
            <label for="">Price (one item)</label>
            <input name="prix" type="number" [(ngModel)]="form.prix" class="form-control " value="+" required>
          </div>

          <div class="col-md-6 mb-6">
            <label for="">Prix d'achat (one item)</label>
            <input name="prix-achat" type="number" [(ngModel)]="form.prix_achat" class="form-control " value="+" required>
          </div>

        </div>

        <button class="btn btn-light submit-button" (click)="submit()">Submit form</button>
      </form>

</div>










