<div class="row justify-content-md-center info">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h1 class="titre">INSERT MATERIAL</h1>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>Intitule</mat-label>
                                <input matInput id="intitule" formControlName="intitule" type="text" placeholder="Intitule" required>
                                <mat-error *ngIf="form.get('intitule')?.errors?.['required']">
                                    Intitule is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 mb-3">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>Quantity</mat-label>
                                <input matInput id="quantite" formControlName="quantite" type="number" placeholder="Quantity" required>
                                <mat-error *ngIf="form.get('quantite')?.errors?.['required']">
                                    Quantity is required.
                                </mat-error>
                                <mat-error *ngIf="form.get('quantite')?.errors?.['min']">
                                    Quantity cannot be less than 0.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-6">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>Price (one item)</mat-label>
                                <input matInput id="prix" formControlName="prix" type="number" required>
                                <mat-error *ngIf="form.get('prix')?.errors?.['required']">
                                    Price is required.
                                </mat-error>
                                <mat-error *ngIf="form.get('prix')?.errors?.['min']">
                                    Price cannot be less than 0.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 mb-6">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>Prix d'achat (one item)</mat-label>
                                <input matInput id="prix_achat" formControlName="prix_achat" type="number" required>
                                <mat-error *ngIf="form.get('prix_achat')?.errors?.['required']">
                                    Prix d'achat is required.
                                </mat-error>
                                <mat-error *ngIf="form.get('prix_achat')?.errors?.['min']">
                                    Prix d'achat cannot be less than 0.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-light submit-button" [disabled]="!form.valid">Submit form</button>
                </form>
            </div>
        </div>
    </div>
</div>
