<div class="row justify-content-md-center info">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h1 class="titre">INSERT THEME</h1>

                <form [formGroup]="form" (ngSubmit)="submitForm()">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>Label</mat-label>
                                <input matInput formControlName="intitule" placeholder="Label" required>
                            </mat-form-field>
                            <div *ngIf="form.get('intitule')?.invalid && (form.get('intitule')?.dirty || form.get('intitule')?.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="form.get('intitule')?.errors?.['required']">
                                    Label is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>Category</mat-label>
                                <mat-select formControlName="categorie" required>
                                    <mat-option *ngFor="let categorie of categories" [value]="categorie.id_categorie_theme">{{categorie.intitule}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div *ngIf="form.get('categorie')?.invalid && (form.get('categorie')?.dirty || form.get('categorie')?.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="form.get('categorie')?.errors?.['required']">
                                    Category is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-12">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>Description</mat-label>
                                <textarea matInput formControlName="description" placeholder="Enter description here" required></textarea>
                            </mat-form-field>
                            <div *ngIf="form.get('description')?.invalid && (form.get('description')?.dirty || form.get('description')?.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="form.get('description')?.errors?.['required']">
                                    Description is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>Room</mat-label>
                                <mat-select formControlName="salle" required>
                                    <mat-option *ngFor="let room of rooms" [value]="room.id_salle">{{ room.numero }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div *ngIf="form.get('salle')?.invalid && (form.get('salle')?.dirty || form.get('salle')?.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="form.get('salle')?.errors?.['required']">
                                    Room is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>Start date</mat-label>
                                <input matInput formControlName="debut" type="date" placeholder="Start date" required>
                            </mat-form-field>
                            <div *ngIf="form.get('debut')?.invalid && (form.get('debut')?.dirty || form.get('debut')?.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="form.get('debut')?.errors?.['required']">
                                    Start date is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>End date</mat-label>
                                <input matInput formControlName="fin" type="date" placeholder="End date" required>
                            </mat-form-field>
                            <div *ngIf="form.get('fin')?.invalid && (form.get('fin')?.dirty || form.get('fin')?.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="form.get('fin')?.errors?.['required']">
                                    End date is required.
                                </div>
                                <div *ngIf="form.get('fin')?.errors?.['dateRange']">
                                    End date cannot be earlier than start date.
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-light submit-button" type="submit" [disabled]="form.invalid">Next</button>
                </form>
            </div>
        </div>
    </div>
</div>
