<div class="modale">
  <form >
    <h2>{{staff.nom }}</h2>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="">First name</label>
        <input type="text" [(ngModel)]="staff.prenom" name="first_name" class="form-control" placeholder="First name" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="">Last name</label>
        <input type="text" [(ngModel)]="staff.nom" name="last_name" class="form-control" placeholder="Last name"
               value="" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="">Username</label>
        <div class="input-group">
          <input type="text" [(ngModel)]="staff.username" name="username" class="form-control" placeholder="username"
                 aria-describedby="inputGroupPrepend2" required>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="">Date of birth</label>
        <input type="date" [(ngModel)]="staff.date_de_naissance" name="dtn" class="form-control" placeholder="" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <label for="">E-mail</label>
        <input type="email" [(ngModel)]="staff.mail" name="mail" class="form-control " placeholder="e-mail" required>
      </div>
      <div class="col-md-12 mb-3">
        <label for="">Password</label>
        <input  type="password" [(ngModel)]="staff.mot_de_passe" name="mdp" class="form-control" placeholder="" required>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-12 mb-3">
        <label for="">Role</label>
        <select class="form-control" [(ngModel)]="staff.role.id_role" name="role">
          <option *ngFor="let item of roleList" [value]="item.id_role">{{ item.intitule }}</option>
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label for="">Post</label>
        <select class="form-control" [(ngModel)]="staff.poste.id_poste" name="post">
          <option *ngFor="let item of posteList" [value]="item.id_poste">{{ item.intitule }}</option>
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label for="">Hiring date</label>
        <input type="date" [(ngModel)]="staff.date_embauche" name="hire_date" class="form-control" placeholder="" required>
      </div>
    </div>

    <div class="form-row">
      <!--          role post date embauche-->
      <div class="col-md-6 mb-3">
        <label for="">Salary</label>
        <input type="number" [(ngModel)]="staff.salaire.montant" class="form-control" name="salary" placeholder="" required>
      </div>
    </div>

    <button class="btn btn-light submit-button" (click)="update()">Submit form</button>
  </form>
</div>
