<div class="modale">
  <form >
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="">First name</label>
        <input formControlName="prenom" type="text" class="form-control" placeholder="First name" value="" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="">Last name</label>
        <input formControlName="nom" type="text" class="form-control" placeholder="Last name"
               value="" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="">Username</label>
        <div class="input-group">
          <input formControlName="username" type="text" class="form-control" placeholder="username"
                 aria-describedby="inputGroupPrepend2" required>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="">Date of birth</label>
        <input formControlName="dtn" type="date" class="form-control" placeholder="" required>
      </div>
    </div>
    <div class="form-row">
      <!--          dtn mail mdp-->
      <div class="col-md-12 mb-3">
        <label for="">E-mail</label>
        <input formControlName="mail" type="email" class="form-control " placeholder="e-mail" required>
      </div>
      <div class="col-md-12 mb-3">
        <label for="">Password</label>
        <input formControlName="mdp" type="password" class="form-control" placeholder="" required>
      </div>
    </div>

    <div class="form-row">
      <!--          role post date embauche-->
      <div class="col-md-12 mb-3">
        <label for="">Role</label>
        <select  formControlName="role" class="form-control">
          <option >huuhhi</option>
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label for="">Post</label>
        <select formControlName="post" class="form-control">
          <option ></option>
        </select>
      </div>
      <div class="col-md-6 mb-3">
        <label for="">Hiring date</label>
        <input formControlName="date_embauche" type="date" class="form-control" placeholder="" required>
      </div>
    </div>

    <div class="form-row">
      <!--          role post date embauche-->
      <div class="col-md-6 mb-3">
        <label for="">Salary</label>
        <input formControlName="salaire" type="number" class="form-control " id="" placeholder="" required>
      </div>
    </div>

    <button class="btn btn-light submit-button" type="submit">Submit form</button>
  </form>
</div>
