<div class="row card">
    <div class="card-body">
        <h1>Rooms</h1>
        <div class="row">
            <div *ngFor="let sl of actual" class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="cart-body">
                        <div class="row">
                            <div *ngIf="sl.theme" class="col-md-6 box-light">
                                <img  src="{{getSource(sl.theme)}}" width="150" height="100" alt="">
                            </div>
                            <div *ngIf="!sl.theme" class="col-md-6 box-light ic-big">
                                <i class="mdi mdi-crop-free"></i>
                            </div>
                            <div class="col-md-6 box-light">
                                <h3>Room - {{sl.salle.numero}}</h3>
                                <label>Theme :</label>
                                <h2 *ngIf="sl.theme">{{sl.theme.intitule}}</h2>
                                <h2 *ngIf="!sl.theme">No theme</h2>
                            </div>
                        </div>
                    </div>
                    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-{{getType(sl.free)}} rounded-circle pulsing-span">
                        <span class="visually-hidden">New alerts</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>