<div class="row card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="cart-body">
                        <div class="row">
                            <div class="col-md-6 box-light">
                                <img src="" width="100" height="100" alt="">
                            </div>
                            <div class="col-md-6 box-light">
                                <h3>Room - 654</h3>
                                <label for="">Theme :</label>
                                <h2>Mandamina</h2>
                            </div>
                        </div>
                    </div>
                    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-success rounded-circle pulsing-span">
                        <span class="visually-hidden">New alerts</span>
                    </span>
                </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="cart-body">
                        <div class="row">
                            <div class="col-md-6 box-light ic-big">
                                <i class="mdi mdi-crop-free"></i>
                            </div>
                            <div class="col-md-6 box-light">
                                <h3>Room - 654</h3>
                                <label for="">Theme :</label>
                                <h2>Mandamina</h2>
                            </div>
                        </div>
                    </div>
                    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-success rounded-circle pulsing-span">
                        <span class="visually-hidden">New alerts</span>
                    </span>
                </div>
            </div>
            
        </div>
    </div>
</div>