<div class="modale">
  <form action="" method="">
    <!-- intitule quantité      -->
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="">Label</label>
        <input name="intitule" type="text" class="form-control" id="" placeholder="Label" value="" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="">Quantity</label>
        <input name="quantite" type="number" class="form-control" id="" placeholder="Quantity"
               value="" required>
      </div>

    </div>
    <div class="form-row">
      <!--  status prix-->
      <div class="col-md-6 mb-6">
        <label for="">Status</label>
        <select name="status" class="form-control">
          <option>Available</option>
          <option>Unavailable</option>

        </select>
      </div>

      <div class="col-md-6 mb-6">
        <label for="">Price (one item)</label>
        <input name="prix" type="number" class="form-control " id="" placeholder="" value="+" required>
      </div>
    </div>
    <br>
    <button class="btn btn-light submit-button" type="submit">Submit form</button>
  </form>

</div>
