<div class="row info">
  <form action="" method="">
    <!-- intitule quantité      -->
    <div class="row g-1">
      <div class="col mb-1">
        <label for="">Intitule</label>
        <input name="intitule" type="search" [(ngModel)]="filter.intitule" class="form-control" placeholder="Label" value="" required>
      </div>
      <!-- Prix -->
      <div class="col mb-1">
        <label for="">Minimum price</label>
        <input name="prix_min" type="number" [(ngModel)]="filter.min" class="form-control" required>
      </div>
      <div class="col mb-1">
        <label for="">Maximum price</label>
        <input name="prix_max" type="number" [(ngModel)]="filter.max" class="form-control" required>
      </div>

    </div>

    <button class="btn btn-light submit-button" (click)="filterFunc()">Filter</button>
    <button class="btn btn-light submit-button" (click)="initial()">Initial</button>
  </form>
</div><br>


<div class="row info">
  <h1 class="titre">MATERIAL LIST</h1>

  <table class="table">
    <thead class="header">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Intitule</th>
      <th scope="col">Quantity (in use)</th>
      <th scope="col">Price One</th>
      <th scope="col">Achat</th>
      <th scope="col">Add</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of materiels">
      <td scope="row">{{ item.id_materiel }}</td>
      <td>{{ item.intitule }}</td>
      <td>{{ item.quantite }} ({{ item.inUsed }})</td>
      <td>{{ item.prix }}</td>
      <td>{{ item.prix_achat }}</td>
      <td>
        <button class="icon-btn ripple" id="" (click)="popUp(item)">
          <i class="mdi mdi-table-edit icon-edit"></i>
        </button>
      </td>
      <td>
        <button class="icon-btn ripple" id="">
          <i class="mdi mdi-delete icon-delete"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
