<div class="row info">
  <form action="" method="">
    <!-- intitule quantité      -->
    <div class="row g-1">
      <div class="col-auto mb-1">
        <label for="">Intitule</label>
        <input name="intitule" type="search" [(ngModel)]="filter.intitule" class="form-control" placeholder="Label" value="" required>
      </div>
      <!-- Prix -->
      <div class="col-auto mb-1">
        <label for="">Minimum price</label>
        <input name="prix_min" type="number" [(ngModel)]="filter.min" class="form-control" required>
      </div>
      <div class="col-auto mb-1">
        <label for="">Maximum price</label>
        <input name="prix_max" type="number" [(ngModel)]="filter.max" class="form-control" required>
      </div>
      <div class="col-auto">

      </div>
      <div class="col-auto">
        <label for="">action</label>
        <div class="row g-1">
          <div class="col-auto">
            <button class="btn dark submit-button" (click)="initial()">Initial</button>
          </div>
          <div class="col-auto">
            <button class="btn dark submit-button" (click)="filterFunc()">Filter</button>
          </div>
        </div>
      </div>

    </div>

  </form>
</div><br>


<div class="row info table-responsive nicescroll">
  <h1 class="titre">MATERIAL LIST</h1>

  <table class="table">
    <thead class="header">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Intitule</th>
      <th scope="col">Quantity (in use)</th>
      <th scope="col">Price One</th>
      <th scope="col">Achat</th>
      <th scope="col">Add</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of materiels">
      <td scope="row">{{ item.id_materiel }}</td>
      <td>{{ item.intitule }}</td>
      <td>{{ item.quantite }} ({{ item.inUsed }})</td>
      <td>{{ item.prix }}</td>
      <td>{{ item.prix_achat }}</td>
      <td>
        <button class="icon-btn ripple" id="" (click)="popUp(item)">
          <i class="mdi mdi-table-edit icon-edit"></i>
        </button>
      </td>
      <td>
        <button class="icon-btn ripple" id="">
          <i class="mdi mdi-delete icon-delete" (click)="delete(item)"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="col-md-12 box-light">
    <div class="form-inline">
        <button class="btn dark" [disabled]="page == 1" (click)="previous()">previous</button>
        <button class="btn dark left" [disabled]="page == maxPage" (click)="next()">next</button>
    </div>
  </div>
</div>
