<div class="row">
  <h1 class="titre">FILTER</h1>

  <form>
    <div class="row g-1">
      <div class="col mb-1">
        <label for="labelSearch">Intitule</label>
        <input name="intitule" type="search" [(ngModel)]="filter.intitule" class="form-control" id="labelSearch" placeholder="Intitule" value="">
      </div>
      <div class="col mb-1">
        <label for="category">Category</label>
        <select name="categorie" [(ngModel)]="filter.categorie" class="form-control" id="category">
          <option *ngFor="let item of categories" [value]="item.id_categorie_theme">{{ item.intitule }}</option>
        </select>
      </div>
      <div class="col mb-1">
        <label for="room">Room</label>
        <select name="salle" [(ngModel)]="filter.room" class="form-control" id="room">
          <option *ngFor="let item of rooms" [value]="item.id_salle">{{ item.numero }}</option>
        </select>
      </div>
      <div class="col mb-1">
        <label for="startDate">Start date</label>
        <input name="debut" type="date" [(ngModel)]="filter.startDate" class="form-control" id="startDate" placeholder="Start date" >
      </div>
      <div class="col mb-1">
        <label for="endDate">End date</label>
        <input name="fin" type="date" [(ngModel)]="filter.endDate" class="form-control" id="endDate" placeholder="End date">
      </div>

      <div class="col mb-1">
        <label for="">Minimum worth</label>
        <input name="valeur_min" [(ngModel)]="filter.minWorth" type="number" class="form-control" id="" placeholder="Worth" value="">
      </div>
      <div class="col mb-1">
        <label for="">Maximum worth</label>
        <input name="valeur_max" type="number" [(ngModel)]="filter.maxWorth" class="form-control" id="" placeholder="Worth" value="">
      </div>

    </div>

    <button class="btn btn-light submit-button" (click)="filterFunc()">Filter</button>
    <button class="btn btn-light submit-button" (click)="initial()">Initial</button>
  </form>
</div><br>

<div class="row info">
      <h1 class="titre">THEME LIST</h1>

      <table class="table table-responsive">
        <thead class="header">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Intitule</th>
          <th scope="col">Category</th>
          <th scope="col">Room</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Worth (Ar) </th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of themeList">
          <th scope="row">{{ item.id_theme }}</th>
          <td>{{ item.intitule }}</td>
          <td>{{ item.categorie_theme.intitule }}</td>
          <td>{{ item.salle.numero }}</td>
          <td>{{ item.date_debut }}</td>
          <td>{{ item.date_fin }}</td>
          <td>{{ item.worth }}</td>
          <td>
            <button class="icon-btn ripple" id="">
              <i class="mdi mdi-table-edit icon-edit"></i>
            </button>
          </td>
          <td>
            <button class="icon-btn ripple" id="">
              <i class="mdi mdi-delete icon-delete"></i>
            </button>
          </td>
        </tr>
        <!-- Other table rows -->
        </tbody>
      </table>
</div>
