<div class="modale">
  <form action="" method="">
    <!-- nom prenom dtn        -->
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="">First name</label>
        <input name="prenom" type="text" class="form-control" id="" placeholder="First name" value="" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="">Last name</label>
        <input name="nom" type="text" class="form-control" id="" placeholder="Last name"
               value="" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="">Date of birth</label>
        <input name="dtn" type="date" class="form-control" id="" placeholder=""
               value="" required>
      </div>

    </div>
    <div class="form-row">
      <!--  mail num-->
      <div class="col-md-6 mb-6">
        <label for="">E-mail</label>
        <input name="mail" type="email" class="form-control " id="" placeholder="e-mail" required>
      </div>

      <div class="col-md-6 mb-6">
        <label for="">Phone number</label>
        <input name="numero" type="tel" class="form-control " id="" placeholder="" value="+261" required>
      </div>

    </div>
    <br>
    <button class="btn btn-light submit-button" type="submit">Submit form</button>
  </form>
</div>
