<script src="../../../login/login.component.ts"></script>
<div class="row">
  <form>
    <div class="form-row">
      <!-- Filter Section -->
      <div class="col-md-2 mb-2">
        <input type="text" [(ngModel)]="filter.label" name="label" class="form-control" placeholder="Search Label" required>
      </div>
      <div class="col-md-2 mb-2">
        <input type="number" [(ngModel)]="filter.coutmin" name="coutmin" class="form-control" placeholder="Min amount " required>
      </div>
      <div class="col-md-2 mb-2">
        <input type="number" [(ngModel)]="filter.coutmax" name="coutmax" class="form-control" placeholder="Max amount " required>
      </div>

      <div class="col-md-2 mb-2">
        <input type="date" [(ngModel)]="filter.datemin" name="datemin" class="form-control" placeholder="Min date " required>
      </div>

      <div class="col-md-2 mb-2">
        <input type="date" [(ngModel)]="filter.datemax" name="datemax" class="form-control" placeholder="Max date " required>
      </div>

      <div class="col-md-2 mb-2">
        <button class="btn btn-light submit-button" type="submit" (click)="filterFunc()">Filter</button>
      </div>
    </div>
  </form>
</div><br>

<div class="row info table-responsive nicescroll">
  <h1 class="titre">EXPENSE LIST</h1>

  <table class="table">
    <thead class="header">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Label</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let record of records">
      <td scope="row">{{record.idDepense}}</td>
      <td>{{record.libele}}</td>
      <td>{{record.montant}}</td>
      <td>{{record.date_insertion}}</td>
      <td>
        <button class="icon-btn ripple" id="" (click)="popUp(record)">
          <i class="mdi mdi-table-edit icon-edit"></i>
        </button>
      </td>
      <td>
        <button class="icon-btn ripple " (click)="delete(record)">
          <i class="mdi mdi-delete icon-delete "></i>
        </button>
      </td>

    </tr>
    <!-- Other table rows -->
    </tbody>
  </table>
</div>
<div class="col-md-12 card pagination">
    <div class="card-body">
        <div class="form-inline">
            <button class="btn btn-light" [disabled]="page == 1" (click)="previous()">previous</button>
            <button class="btn btn-light left" [disabled]="page == maxPage" (click)="next()">next</button>
        </div>
    </div>
</div>
