/* Style de base pour la table */
table {
    width: 100% !important;
    border-collapse: collapse !important;
    background-color: #f8f9fa !important; /* Couleur de fond claire */
}

/* Style pour les en-têtes de la table */
table th {
    background-color: #261d15 !important; /* Couleur de fond pour les en-têtes */
    color: white !important;
    padding: 10px !important;
    border: 1px solid #dee2e6 !important;
    text-align: left !important;
}

/* Style pour les cellules de la table */
table td {
    padding: 10px !important;
    background-color: #f1ebd9 !important;
}

/* Style pour les lignes paires de la table */
table tr:nth-child(even) {
    background-color: #e9ecef !important;
}

/* Style pour les lignes impaires de la table */
table tr:nth-child(odd) {
    background-color: #f8f9fa !important;
}

/* Style pour les lignes au survol */
table tr:hover {
    background-color: #d6e4f1 !important; /* Couleur de fond lors du survol */
}

/* Enlever les bordures des cellules */
table th, table td {
    border: none !important;
}

/* Ajouter des bordures uniquement aux lignes */
table tr {
    border: 1px solid #dee2e6 !important;
}
