/*INSERT CSS*/
.form-div
{
  /*font-family: Arsenal;*/
}
.info{
  color: #261D15 !important; 
}
table tr th{
  color: #261D15;
}
table tr th td{
  color: #261D15;
}
.form-control
{
  background-color: white;
  color: black;
  border: none;
}
.form-div-lg
{
  background: #27263e;
  border-radius: 20px;
  width: 100%;
  height: 100px;
}


.form-div-sm {
  padding: 15px;
  height: auto;
}

.form-div-md {
  padding: 43px;
  height: auto;
}

.titre{
}

.currency{
  position: relative;
  left: 100%;
  bottom: 40%;
  width: 50%;
  background-color: black;
  color: white;

}


.submit-button{
}


/*LIST CSS*/
.list-div{
  width: auto;
  background: #6d1515;
  border-radius: 20px;
  height: auto;
  padding: 50px;

  display: flex;
  flex-wrap: wrap;

}
/*.list-div-lg, .list-div-md, .list-div-sm*/
/*{*/
/*  width: 100%;*/
/*  color :white;*/
/*}*/

/*.list-div-lg*/
/*{*/
/*  background: #6d1515;*/
/*  border-radius: 20px;*/
/*  width: 100%;*/
/*  height: auto;*/
/*}*/


/*.list-div-sm {*/
/*  width: 100%;*/
/*  padding: 15px;*/
/*  height: auto;*/
/*}*/

/*.list-div-md {*/
/*  width: 100%;*/
/*  padding: 43px;*/
/*  height: auto;*/
/*}*/



.table, .table-hover{
  color: white;
  border: white;


}

.table-hover tr:hover{
  background: #230707;
  color:white;
}


.header th {
  color: white;

}




.icon-btn {
  border-radius: 50%; /* Make it a circle */
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  border:none;
  text-align: center;
  cursor: pointer;
  color : #6c1515;
}
.icon-btn:hover{
  background-color: #ff3333;
  color: white;
}

.icon-edit{
  font-size: x-large;
  position: relative;
  top: 10%;
}

.icon-delete{
  font-size: x-large;
  position: relative;
  top: 5%;
}

/* Style pour le formulaire de recherche */
.row.g-1 {
  margin-bottom: 20px; /* Espacement en bas du formulaire */
}

.input-group {
  width: 100%; /* Largeur maximale pour s'adapter à la colonne */
}

.form-control {
  border-radius: 8px; /* Coins arrondis pour les champs de formulaire */
  box-shadow: none; /* Supprime l'ombre par défaut */
}

.submit-button {
  margin-top: 10px; /* Espacement en haut des boutons */
  margin-left: 5px; /* Espacement entre les boutons */
}

/* Style pour les options des selects */
.selectpicker {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.selectpicker:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.submit-button {
  height: 100%;
  margin-top: unset !important;
}

/*.filter {*/
/*  background-color: #dcc78d;*/
/*}*/

.submit-button:hover{
  background-color: #261d15;
  color: white;
}



