<div class="row">
    <form class="row g-1">
        <div class="col">
            <div class="input-group">
                <input name="username" [(ngModel)]="filter.username" type="search" class="form-control" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>
        <div class="col">
            <input name="age_min" [(ngModel)]="filter.ageMin" type="number" class="form-control" placeholder="Age min" required>
        </div>
        <div class="col">
            <input name="age_max" [(ngModel)]="filter.ageMax" type="number" class="form-control" placeholder="Age max" required>
        </div>
        <div class="col">
            <select name="post" [(ngModel)]="filter.poste" class="form-control selectpicker">
                <option value="">Post</option>
                <option *ngFor="let poste of posteList" [value]="poste.id_poste">{{ poste.intitule }}</option>
            </select>
        </div>
        <div class="col">
            <select name="role" [(ngModel)]="filter.role" class="form-control selectpicker">
                <option value="">Role</option>
                <option *ngFor="let role of roleList" [value]="role.id_role">{{ role.intitule }}</option>
            </select>
        </div>
        <div class="col">
            <input name="salaire" [(ngModel)]="filter.salaire" type="number" class="form-control" placeholder="Salaire" required>
        </div>
        <div class="col-auto">
            <button class="btn dark submit-button filter" (click)="filterFunc()">Filter</button>
            <button class="btn dark submit-button" (click)="initial()">Initial</button>
        </div>
    </form>
</div><br>

<div class="row info">
    <h1 class="titre">STAFF LIST</h1>
    <div class="pinterest-grid">
        <div *ngFor="let membre of staff" class="card">
            <div class="card-body">
                <h2 class="card-title nm">{{ membre.username }} ({{calculateAge(membre.date_de_naissance)}}yo)</h2>
                <p class="card-text"><strong>Poste:</strong> {{ membre.poste.intitule }}</p>
                <p class="card-text"><strong>Role:</strong> {{ membre.role.intitule }}</p>
                <button class="icon-btn ripple" (click)="popUp(membre)">
                    <i class="mdi mdi-table-edit icon-edit"></i>
                </button>
                <button class="icon-btn ripple" (click)="delete(membre)">
                    <i class="mdi mdi-delete icon-delete"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12 box-light">
        <div class="form-inline">
            <button class="btn dark" [disabled]="page == 1" (click)="previous()">previous</button>
            <button class="btn dark left" [disabled]="page == maxPage" (click)="next()">next</button>
        </div>
    </div>
</div>
