<div class="row">
    <form class="row g-1">
        <div class="col">
            <div class="input-group">
                <input name="username" [(ngModel)]="filter.username" type="search" class="form-control" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>
        <div class="col">
            <input name="age_min" [(ngModel)]="filter.ageMin" type="number" class="form-control" placeholder="Age min" required>
        </div>
        <div class="col">
            <input name="age_max" [(ngModel)]="filter.ageMax" type="number" class="form-control" placeholder="Age max" required>
        </div>
        <div class="col">
            <select name="post" [(ngModel)]="filter.poste" class="form-control selectpicker">
                <option *ngFor="let poste of posteList" [value]="poste.id_poste">{{ poste.intitule }}</option>
            </select>
        </div>
        <div class="col">
            <select name="role" [(ngModel)]="filter.role" class="form-control selectpicker">
                <option *ngFor="let role of roleList" [value]="role.id_role">{{ role.intitule }}</option>
            </select>
        </div>
        <div class="col">
            <input name="salaire" [(ngModel)]="filter.salaire" type="number" class="form-control" placeholder="Salaire" required>
        </div>
        <div class="col-auto">
            <button class="btn btn-light submit-button filter" (click)="filterFunc()">Filter</button>
            <button class="btn btn-light submit-button" (click)="initial()">Initial</button>
        </div>
    </form>

</div><br>
<div class="row info table-responsive nicescroll">
      <h1 class="titre">STAFF LIST</h1>

      <table class="table">
        <thead class="header">
        <tr>
          <th scope="col">id_</th>
            <th scope="col">Username</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Age</th>
          <th scope="col">Poste</th>
            <th scope="col">Role</th>
          <th scope="col">Hiring Date</th>
          <th scope="col">Salary</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let membre of staff">
          <td>{{ membre.id_membre }}</td>
            <td>{{ membre.username }}</td>
          <td>{{ membre.prenom }}</td>
          <td>{{ membre.nom }}</td>
          <td>{{ calculateAge(membre.date_de_naissance) }}</td>
          <td>{{ membre.poste.intitule }}</td>
            <td>{{ membre.role.intitule }}</td>
          <td>{{ membre.date_embauche }}</td>
          <td>{{ getSalaire(membre.salaire) }}</td>
          <td>
            <button class="icon-btn ripple " (click)="popUp(membre)">
              <i class="mdi mdi-table-edit icon-edit "></i>
            </button>
          </td>
          <td>
            <button class="icon-btn ripple " (click)="delete(membre)">
              <i class="mdi mdi-delete icon-delete "></i>
            </button>
          </td>
        </tr>
        <!-- Other table rows -->
        </tbody>
      </table>
</div>
<div class="col-md-12 card pagination">
    <div class="card-body">
        <div class="form-inline">
            <button class="btn btn-light" [disabled]="page == 1" (click)="previous()">previous</button>
            <button class="btn btn-light left" [disabled]="page == maxPage" (click)="next()">next</button>
        </div>
    </div>
</div>
