
<div class="modale">
    <form >
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="">Label</label>
                <input [(ngModel)]="theme.intitule" name="intitule" type="text" class="form-control" id="" placeholder="Label" value="" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="">Category</label>
                <select [(ngModel)]="theme.categorie_theme.id_categorie_theme" name="categorie" class="form-control">
                    <option *ngFor="let item of categorie" [value]="item.id_categorie_theme" >{{ item.intitule }}</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-12">
                <label for="">Description</label>
                <textarea class="textarea" name="description" class="form-control" id="description" placeholder="Enter description here" required></textarea><br>
            </div>
        </div>
    </form>
    <button class=" btn btn-light submit-button"  (click)="update()">submit</button>
</div>

  
  
  
  
  
  
  
  
  
  
  