<div class="row">
    <div class="row">
      <h3>the best client</h3>
      <div class="col-md-4 grid-margin " *ngFor="let item of topClient; let i = index">
        <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="rank">
                    #{{i + 1}}
                </div>
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <h4 class="mb-5">{{item.client.nom}} {{item.client.prenom}}</h4>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <h4 class="text-muted font-weight-normal">{{item.nb_reservations}} / {{item.total_prix}}</h4>
                  <p class="grey">visit / money</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Client info | Analyse</h3>
            <mat-form-field class="inpl">
                <mat-label>Client </mat-label>
                <mat-select name="clientS" (selectionChange)="update($event)"  [(ngModel)]="clientId">
                    <ngx-mat-select-search [formControl]="searchControl" placeholderLabel="Rechercher..."></ngx-mat-select-search>
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value">
                        {{ option.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
  <div class="col-md-12 card footer">
    <div class="row" *ngIf="selectedClient">
      <div class="col-md-2">
        <i class="mdi mdi-face-profile icon-lg"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6">
            <h2>{{ selectedClient.client.nom }} {{ selectedClient.client.prenom }}</h2>
            <h6>{{ selectedClient.client.num_telephone }}</h6>
            <h6>{{ selectedClient.client.email }}</h6>
          </div>
          <div class="col-md-6">
            <h3>number of visits</h3>
            <h3 class="grey">{{ selectedClient.nb_reservation }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
