<div class="row">
    <div class="row">
      <h3>the best client</h3>
      <div class="col-md-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <h4 class="mb-5">nom Client</h4>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <h4 class="text-muted font-weight-normal">05</h4>
                <p class="grey">visit</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <h4 class="mb-5">nom Client</h4>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <h4 class="text-muted font-weight-normal">05</h4>
                <p class="grey">visit</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <h4 class="mb-5">nom Client</h4>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <h4 class="text-muted font-weight-normal">05</h4>
                <p class="grey">visit</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Client info | Analyse</h3>
            <mat-form-field class="inpl">
                <mat-label>Client </mat-label>
                <mat-select name="clientS"  >
                    <ngx-mat-select-search [formControl]="searchControl" placeholderLabel="Rechercher..."></ngx-mat-select-search>
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value">
                        {{ option.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
  <div class="col-md-12 card footer">
    <div class="row">
      <div class="col-md-2">
        <i class="mdi mdi-face-profile icon-lg"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6">
            <h2>Kevin Anderson</h2>
            <h6>03249877564</h6>
            <h6>k.gmail.comexample.com</h6>
          </div>
          <div class="col-md-6">
            <h3>Nombre natongavany</h3>
            <h3 class="grey">06</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
