

.year-div {
  display: flex;
  align-items: center;
  flex-direction: unset;
  justify-content: center;
  padding: 10px;
  background: #9b2dac3b !important;
}

.year-div i {
  display: flex;
  font-size: 2em;
  cursor: pointer;
  padding: 0 10px;
  color: #333;
  transition: all .2s ease-in-out;
}

.year-div h3 {
  font-size: x-large;
  letter-spacing: 2px;
  font-weight: 400;
}

.year-div i:hover {
  scale: 1.2;
  color: #2c2927;
}

.year-div h3 {
  margin: 0 20px;
}
