<div class="row justify-content-md-center info">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h1 class="titre">INSERT ROOM</h1>
                <form [formGroup]="form" (ngSubmit)="submitForm()">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>Room number</mat-label>
                                <input matInput formControlName="numero" type="number" placeholder="Room number">
                            </mat-form-field>
                            <div *ngIf="form.get('numero')?.hasError('required') && form.get('numero')?.touched" class="alert alert-danger">
                                Room number is required.
                            </div>
                        </div>
                        <!-- Placeholder for potential second field in the same row -->
                        <div class="col-md-6 mb-3">
                            <!-- Additional field can be added here -->
                        </div>
                    </div>
                    <button class="btn btn-light submit-button" type="submit" [disabled]="form.invalid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
