<div class="row justify-content-md-center info">
  <div class="col-lg-3">
    <h3>Instruction</h3>
    <p>| les champs obligatoire:</p>
    <p>- First name <br>- Last name <br>- Date of birth</p>
  </div>

  <div class="col-lg-7">
    <div class="info">

      <h1 class="titre">INSERT ROOM</h1>

      <form [formGroup]="form"(ngSubmit)="submitForm()">
        <div class="form-row">
          <!-- Select Client and Select Service -->
          <div class="col-md-6 mb-3">
            <label >Room number</label>
            <input formControlName="numero" type="number" class="form-control" placeholder="numero ">

          </div>
        </div>

        <button class="btn btn-light submit-button" type="submit">Submit</button>
      </form>
    </div>
      
  </div>

</div>










