<div class="row info">
      <form action="" method="">
        <div class="form-row">
          <div class="col mb-1">
            <label for="">First name</label>
            <input name="prenom" [(ngModel)]="filter.prenom" type="search" class="form-control" placeholder="First name" value="" required>
          </div>
          <div class="col mb-1">
            <label for="">Last name</label>
            <input name="nom" type="search" [(ngModel)]="filter.nom" class="form-control" placeholder="Last name"
                   value="" required>
          </div>
          <div class="col mb-1">
            <label for="">Phone number</label>
            <input name="numero" type="tel" [(ngModel)]="filter.numero" class="form-control " placeholder="" value="+261" required>
          </div>
          <div class="col mb-1">
            <label for="">Minimum age </label>
            <input name="age_min" type="number" [(ngModel)]="filter.ageMin" class="form-control"  placeholder="" required>
          </div>

          <div class="col mb-1">
            <label for="">Maximum age </label>
            <input name="age_max" type="number" [(ngModel)]="filter.ageMax" class="form-control"  placeholder="" required>
          </div>
        </div>
            <button class="btn btn-light submit-button" type="submit" (click)="filterFunc()">Filter</button>
            <button class="btn btn-light submit-button" (click)="initial()">Initial</button>
      </form>
</div><br>


<div class="row info">
  <h1 class="titre">CLIENT LIST</h1>

  <table class="table">
    <thead class="header">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Age</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let clt of client">
      <th scope="row">{{ clt.id_client }}</th>
      <td>{{ clt.prenom }}</td>
      <td>{{ clt.nom }}</td>
      <td>{{ calculateAge(clt.date_de_naissance) }}</td>
      <td>
        <button class="icon-btn ripple "   >
          <i class="mdi mdi-table-edit icon-edit "></i>

        </button>
      </td>
      <td>
        <button class="icon-btn ripple " id=""  >
          <i class="mdi mdi-delete icon-delete "></i>

        </button>
      </td>
    </tr>
    <!-- Other table rows -->
    </tbody>
  </table>
</div>
