<div class="row justify-content-md-center info">
    <div class="col-lg-3">
        <h3>Instructions</h3>
        <p>| Check the box next to the material to add it to the theme </p>
        <p>| By default the quantity is one</p>

    </div>
    <div class="col-lg-7 ">
        <h2 class="titre">What materials were used for this theme?</h2>
        <form (ngSubmit)="onSubmit()">
            <table class="table table-bordered">
                <thead class="">
                <tr>
                    <th>Label</th>
                    <th>Usage</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of materials; let i = index">
                    <td class="material-name">{{ item.name }}</td>
                    <td>
                        <input type="checkbox" class="form-check-input checkbox" id="{{ 'item' + i }}" [(ngModel)]="item.checked" name="{{ 'item' + i }}" (change)="toggleQuantity(i)">
                    </td>
                    <td class="quantity">
                        <input type="number" class="form-control input-quantity" [(ngModel)]="item.quantity" name="{{ 'quantity' + i }}" [disabled]="!item.checked" min="1">
                    </td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-light button "> Submit </button>
        </form>
    </div>

</div>










