<div class="row">
    <form>
        <div class="form-row">
            <!-- Filter Section -->
            <div class="col-md-3 mb-3">
                <input type="text" name="label" class="form-control" placeholder="Search Label" required>
            </div>
            <div class="col-md-3 mb-3">
                <button class="btn btn-light submit-button" type="submit">Filter</button>
            </div>
        </div>
    </form>
</div><br>

<div class="row info table-responsive nicescroll">
    <h3 class="titre">SERVICE LIST</h3>
    <div class="row">
      <div *ngFor="let svc of services" class="col-md-4 grid-margin">
        <div class="card" [style.background]="applyOpacity(svc.color) + ' !important'">
          <div class="card-body">
            <h2 class="mb-0">{{ svc.intitule }}</h2>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                </div>
                <h6 class="text-muted font-weight-normal"></h6>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg tarif {{ svc.icon }} text-primary ml-auto" [style.color]="svc.color + ' !important'"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
