<div class="row">
    <form>
        <div class="form-row">
            <!-- Filter Section -->
            <div class="col-md-3 mb-3">
                <input type="text" name="label" class="form-control" placeholder="Search Label" required>
            </div>
            <div class="col-md-3 mb-3">
                <button class="btn btn-light submit-button" type="submit">Filter</button>
            </div>
        </div>
    </form>
</div><br>

<div class="row info table-responsive nicescroll">
    <h1 class="titre">SERVICE LIST</h1>

    <table class="table">
        <thead class="header">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Label</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let svc of services">
            <td scope="row">{{ svc.id }}</td>
            <td>{{ svc.intitule }}</td>
        </tr>
        <!-- Other table rows -->
        </tbody>
    </table>
</div>
