.form-div
{
  /*font-family: Arsenal;*/
}

.form-control
{
  background-color: white;
  color: black;
  border: none;
}
.form-div-lg
{
  background: #6d1515;
  border-radius: 20px;
  width: 100%;
  height: 100px;
}


.form-div-sm {
  padding: 15px;
  height: auto;
}

.form-div-md {
  padding: 43px;
  height: auto;
}

.titre{
}

.currency{
  position: relative;
  left: 100%;
  bottom: 40%;
  width: 50%;
  background-color: black;
  color: white;

}


.submit-button{
  margin-top: 6%;
}

.submit-button:hover{
  background-color: #261d15;
  color: white;
}

.client-input {
  width: 100%;
}

.sufix, .eg {
  width: 100%;
}

.el {
  display: flex;
  width: 100% !important;
  justify-content: center;
}
.pplNumber{
  width: 100%;
}

::ng-deep .custom-radio .mat-radio-outer-circle {
  border-color: #03ff16; /* Custom border color */
}

::ng-deep .custom-radio .mat-radio-inner-circle {
  background-color: #06b62f; /* Custom inner circle color */
}

::ng-deep .custom-radio .mat-radio-ripple .mat-ripple-element {
  background-color: rgba(67, 171, 85, 0.3); /* Custom ripple color */
}

::ng-deep .custom-radio .mat-radio-label-content {
  color: #57f621; /* Custom label color */
}

.alert-dismissible {
  padding-right: unset;
}

.cdr {
  display: flex;
  background: #261d15;
  border-color: black;
  transition: .2s all ease-in-out;
  margin-bottom: 20px;
}

.cdr:hover {
  background: #cac3ac;
  border-color: #261d15;
  color: #261d15;
}

.cdr:active {
  background: #cac3ac;
  border-color: #261d15;
  color: #261d15;
}

.cdr:not(.btn-light):not(.btn-secondary):focus {
  background: #cac3ac;
  border-color: #261d15;
  color: #261d15;
}

.chk {
  display: flex;
  margin-bottom: 20px;
  background: #b6b19f;
  border-color: #261d15;
  color: #000000;
  transition: .2s all ease-in-out;
}

.chk:hover {
  background: #b2aa8d;
  border-color: #261d15;
  color: #2d2c2c;
}

.chk:not(.btn-light):not(.btn-secondary):focus {
  background: #cac3ac;
  border-color: #261d15;
  color: #261d15;
}