<div *ngIf="userConnected !== null" class="head" [ngClass]="getHeadClass()">
  <div class="head-content animate__animated animate__fadeIn animate__slow">
    <div class="head-content-left">
        <p class="slogan" style="letter-spacing: 10px; margin: 0">{{ sloganText }}</p>
<!--      <div class="search-container">-->
<!--        <div *ngIf="!canShowSearchAsOverlay" class="normal-search">-->
<!--          <input type="search" class="search" name="" id="" placeholder="Search...">-->

<!--        </div>-->
<!--        <div class="search-icon-div">-->
<!--          <i class="mdi mdi-magnify search-icon"></i>-->
<!--        </div>-->
<!--        <div *ngIf="canShowSearchAsOverlay">-->
<!--          &lt;!&ndash;<button-->
<!--            [cdkMenuTriggerFor]="searchOverlay"-->
<!--            class="search-menu-btn ripple"-->
<!--          >-->
<!--            <i class="mdi mdi-json search-icon"></i>-->
<!--          </button>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="head-content-right">
      <div class="head-menu">
        <div class="head-menu-item">
          <button (click)="notify()" class="head-menu-item-btn ripple bell-icon menu-icon" id="messageDropdown" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-bell menu-icon"></i>
            <div class="circle-indicator pulse"></div>
          </button>
        </div>
      </div>

      <div class="username">
        <h4>{{getNom()}}</h4>
      </div>
      <div class="head-user-avatar-container">
        <div class="head-user-avatar">
          <i class="mdi mdi-account profil-icon"></i>
        </div>
      </div>
      <div class="log-out-div">
        <div (click)="logOut()" class="log-out-icon-div">
          <i class="mdi mdi-logout log-out-icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<ng-template #searchOverlay cdkMenu>
  <div class="overlay overlay-search overlay-fall">
    <input type="search" class="search" name="" placeholder="Search...">
    <button class="search-btn">
      <i class="mdi mdi-json search-icon"></i>
    </button>
  </div>
</ng-template>-->
