<div class="row">
  <div class="col-lg-9">
    <div class="card" style="height: 100%">
      <div class="card-body">
          <apx-chart #chart
                     [series]="chartOptions.series"
                     [chart]="chartOptions.chart"
                     [xaxis]="chartOptions.xaxis"
                     [dataLabels]="chartOptions.dataLabels"
                     [stroke]="chartOptions.stroke"
                     [title]="chartOptions.title"
                     [colors]="chartOptions.colors"
                     [markers]="chartOptions.markers">
          </apx-chart>

      </div>
    </div>

  </div>
  <div class="col-lg-3">
  <div class="card year-div">
      <i class="mdi mdi-chevron-left" (click)="changeYear(-1)"></i>
      <h3>{{ selectedYear }}</h3>
      <i class="mdi mdi-chevron-right" (click)="changeYear(1)"></i>
  </div>
    <div class="card">
        <div class="card-body total">
            <h5>Total</h5>
            <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                    <div class="d-flex d-sm-block d-md-flex align-items-center">
                        <h2 class="mb-0" style="font-size: 2rem">{{info.nb_total_reservation}}</h2>
                        <p class="text-secondary ml-2 mb-0 font-weight-medium">reservation</p>
                    </div>
                    <h6 class="text-muted font-weight-normal"><span class="conf">{{info.nb_confirmed_reservation}}</span> conf, <span class="wait">{{info.nb_processing_reservation}}</span> wait, <span class="canc">{{info.nb_canceled_reservation}}</span> canc</h6>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                    <i class="icon-lg mdi mdi mdi-alarm-check text-danger ml-auto" style="color: rgb(220 171 50) !important;"></i>
                </div>
            </div>
        </div>
    </div>
    <br>
      <div class="card">
          <div class="card-body month">
              <h5>Average</h5>
              <div class="row">
                  <div class="col-8 col-sm-12 col-xl-8 my-auto">
                      <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0" style="font-size: 2rem">{{ format(info.average) }}</h2>
                          <p class="text-secondary ml-2 mb-0 font-weight-medium">/month</p>
                      </div>
                      <h6 class="text-muted font-weight-normal">waouh</h6>
                  </div>
                  <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                      <i class="icon-lg mdi mdi-opacity text-danger ml-auto" style="color: rgb(35 156 244 / 75%) !important;"></i>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <div class="card">
          <div class="card-body month">
              <h5>Best month</h5>
              <div class="row">
                  <div class="col-8 col-sm-12 col-xl-8 my-auto">
                      <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0" style="font-size: 2rem">{{info.best_month}}</h2>
                          <p class="text-secondary ml-2 mb-0 font-weight-medium">--</p>
                      </div>
                      <h6 class="text-muted font-weight-normal">{{info.max_value}} reservation</h6>
                  </div>
                  <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                      <i class="icon-lg mdi mdi-flash text-danger ml-auto" style="color: rgb(190 67 219 / 81%) !important;"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div><br>
<div class="col-md-12 card footer">
  <div class="form-inline">
    photobooth
  </div>
</div>
