<div class="row justify-content-md-center info">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h1 class="titre">INSERT CLIENT</h1>
                <form [formGroup]="form" (ngSubmit)="submitForm()">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>First name</mat-label>
                                <input matInput formControlName="prenom" type="text" placeholder="First name">
                                <mat-error *ngIf="form.get('prenom')?.hasError('required') && form.get('prenom')?.touched">
                                    First name is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 mb-3">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>Last name</mat-label>
                                <input matInput formControlName="nom" type="text" placeholder="Last name">
                                <mat-error *ngIf="form.get('nom')?.hasError('required') && form.get('nom')?.touched">
                                    Last name is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 mb-3">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>Date of birth</mat-label>
                                <input matInput formControlName="dtn" type="date">
                                <mat-error *ngIf="form.get('dtn')?.hasError('required') && form.get('dtn')?.touched">
                                    Date of birth is required.
                                </mat-error>
                                <mat-error *ngIf="form.get('dtn')?.hasError('futureDateOfBirth')">
                                    Date of birth cannot be in the future.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-6">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="mail" type="email" placeholder="E-mail">
                                <mat-error *ngIf="form.get('mail')?.hasError('required') && form.get('mail')?.touched">
                                    Email is required.
                                </mat-error>
                                <mat-error *ngIf="form.get('mail')?.errors?.['email']">
                                    Please enter a valid e-mail address.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 mb-6">
                            <mat-form-field class="full-width input-truc">
                                <mat-label>Phone number</mat-label>
                                <input matInput formControlName="numero" type="tel" placeholder="+261" pattern="^\d{2} \d{2} \d{3} \d{2}$">
                                <mat-error *ngIf="form.get('numero')?.hasError('pattern') && form.get('numero')?.touched">
                                    Phone number must be in the format XX XX XXX XX and contain only numbers.
                                </mat-error>
                                <mat-error *ngIf="form.get('numero')?.hasError('required') && form.get('numero')?.touched">
                                    Phone number is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <button class="btn btn-light submit-button" type="submit" [disabled]="!form.valid">Submit form</button>
                </form>
            </div>
        </div>
    </div>
</div>
